{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    html,
    body {
        background-image: url("{% static 'img/background.jpg' %}");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .profileInfo {
        color: rgba(0, 0, 0, 0.699);
        font-weight: bold;
        font-size: xx-large;
    }

    #divElement {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 500%;
        font-weight: bold;
        color:   rgba(255, 255, 255, 0.562);
        text-align: center;
    }

    ​
</style>

<body>
    <div id="divElement">
        <div>
            Atlas of forest tree species
        </div>
    </div>

    </div>
</body>
{% endblock content %}
